<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <!-- TODO: merge name and ar_type -->
  <xacro:arg name="ar_type" default="ar3"/>
  <xacro:include filename="$(find ar_description)/urdf/$(arg ar_type)_macro.xacro"/>
  <xacro:include filename="$(find ar_hardware_interface)/urdf/ar.ros2_control.xacro"/>
  
  <link name="world" />
  <xacro:ar3_robot parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ar3_robot>

  <xacro:ar_ros2_control
    name="ARFakeSystem"
    plugin_name="mock_components/GenericSystem"
    serial_port="/dev/ttyACM0"
    calibrate="False"
  />
</robot>
