<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg ar_model)">
  <xacro:include filename="$(find ar_description)/urdf/ar_macro.xacro"/>
  <xacro:include filename="$(find ar_description)/urdf/ar_gripper_macro.xacro"/>
  <xacro:include filename="$(find ar_description)/urdf/ar.ros2_control.xacro"/>
  <xacro:include filename="$(find ar_description)/urdf/ar_gripper.ros2_control.xacro"/>

  <link name="world" />
  <xacro:ar_robot
    parent="world"
    robot_parameters_file="$(find ar_description)/config/$(arg ar_model).yaml"
  >
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ar_robot>
  <xacro:ar_gripper parent="ee_link" />

  <xacro:ar_ros2_control
    ar_model="$(arg ar_model)"
    plugin_name="mock_components/GenericSystem"
    serial_port="/dev/ttyACM0"
    calibrate="False"
    robot_parameters_file="$(find ar_description)/config/$(arg ar_model).yaml"
    joint_offset_parameters_file="$(find ar_hardware_interface)/config/joint_offsets/$(arg ar_model).yaml"
    driver_parameters_file="$(find ar_hardware_interface)/config/driver.yaml"
  />
  <xacro:ar_gripper_ros2_control
    name="ARGripperFakeSystem"
    plugin_name="mock_components/GenericSystem"
    serial_port="/dev/ttyUSB0"
  />
</robot>
